#filter {
  background: $grey;
  width: 30%;
  max-width: 300px;
  float: left;
  display: inline-block;
  .inside {
    padding: 20px;
  }
  h4 {
    margin-bottom: 25px;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #51565c;
  }
  select {
    padding: 6px;
    background: transparent;
    font-size: .85rem;
    font-weight: 500;
    color: #aca8a9;
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 1px solid #e5e1e0;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .filter {
    .title{
      font-size: .9rem;
      display: block;
      margin-bottom: 1rem;
      color: #a4a0a1;
    }
    input[type="text"]{
      width: 45%;
      display: inline-block;
      margin-bottom: 25px;
      margin-right: 2.5%;
      border-radius: 5px;
      padding: .4rem;
      font-size: 1rem;
    }
    &.extras {
      label {
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e2dedb;
        color: #52555c;

        input[type="checkbox"] {
          float: right;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}


#listings {
  width: 70%;
  float: left;
  display: inline-block;
  padding: 30px 15px 15px 15px;
  background: $offwhite;
  .search-area {
    input[type="text"] {
      width: 70%;
      background: transparent;
      border: none;
      font-size: 1.6rem;
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 20px;
      color: #51565c;
      &:focus {
        outline: none;
      }
    }
  }
  .sortby-area {
    margin-bottom: 20px;

    .results {
      font-size: .9rem;
      color: $lightgrey;
      display: inline-block;
      vertical-align: bottom;
      padding-top: 10px;
    }
    .sort-options {
      float: right;

      select {
        font-size: .9rem;
        font-weight: 400;
        background: transparent;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
        cursor: pointer;
        border: 1px solid #e7eef6;
        border-radius: 4px;
        color: #51565c;
        padding: 6px 48px 6px 6px;
      }
      .view {
        display: inline-block;
        padding-top: 6px;

        .fas {
          font-size: 1.4rem;
          margin-right: 15px;
          color: #505559;
          cursor: pointer;
          &:first-child {
            color: #d9e1ee;
          }
        }
      }
    }
  }
  .listings-result {
    margin-bottom: 80px;

    .listing {
      width: 33.33%;
      display: inline-block;
      border-radius: 5px;
      margin: 5px;
      background: #fff;
      -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
      -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
      box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);

      .listing-img {
        position: relative;
        color: #fff;
        background: url(https://i.ytimg.com/vi/4pVXdBPKdnc/maxresdefault.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 180px;
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;

        .details {
          position: absolute;
          border-radius: 5px 5px 0px 0px;
          -moz-border-radius: 5px 5px 0px 0px;
          -webkit-border-radius: 5px 5px 0px 0px;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          padding: 10px;
          background: rgb(73,48,175);
          background: linear-gradient(129deg, rgba(73,48,175,1) 0%, rgba(188,104,198,0.8015581232492998) 100%);
        }
      }
    }
  }
}