header {
  background: $darkpurple;
  color: #fff;
  overflow: auto;
  padding: 20px 15px;
  .logo {
    float: left;
  }
  nav {
    float: right;
    a {
      color: #fff;
      padding: 7px 20px;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 300;
      font-size: .9rem;
      &:hover {
        color: $pink;
      }
      &.register-btn {
        background: $pink;
        color: #fff;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}